@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(pexels-filipe-de-azevedo-2083740.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    background-color: transparent;
    width: 480px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 5px white;
    position: relative;
    backdrop-filter: blur(10px);
}

.loginContainer h2{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 30px;
    color: white;
}

.loginContainer h2::after{
    content: '';
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background-color:  rgb(224, 224, 224);
    position: absolute;
    top: 88px;  
}

.loginContainer .form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.loginContainer .form input{
    width: 330px;
    padding:17px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(235, 235, 235);
    margin: 15px;
    display: flex;
}


.loginContainer .form p{
    font-size: 13px;
    padding: 0 0 50px 18px;
    color: white;
}

.loginContainer .form p a{
    text-decoration: none;
    color: red;
}

.loginContainer .form p a:hover{
    text-decoration: underline;
}

.loginContainer .form .btnField{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.btnField button{
    padding: 12px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(50, 49, 61);
    color: white;
    cursor: pointer;
    transition: .8s;
}

.btnField button.active{
    background-color: rgb(235, 235, 235);
    color: rgb(50, 49, 61);
}





